<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}!
  </h1>
</div>
<div *ngFor="let currentMeal of meals">
  <h4>Each Meal Details</h4>
  <p>Name of your meal: {{currentMeal.name}}</p>
  <p>Calorie Count: kcal.{{currentMeal.calories}}</p>
  <p>Meal Description: {{currentMeal.description}}</p>
  <button (click)="showDetails(currentMeal)">Edit</button>
</div>
<div *ngIf="selectedMeal">
  <h4>Change the meal details</h4>
  <p>Enter Meals Name: <input [(ngModel)]="selectedMeal.name"></p>
  <p>Fill in Calories:  kcal.<input [(ngModel)]="selectedMeal.calories"></p>
  <p>Enter Description: <input [(ngModel)]="selectedMeal.description"></p>
  <button (click)="saveChanges()">Save Changes</button>
</div>
