<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div style="text-align:center;
      text-decoration: underline;
    " class="jumbotron">
      <h1>
        {{title}}!
      </h1><br>
      <h4>Keep track and filter through your meals through the day.</h4>
    </div>
    <div class="col-sm-4 col-xs-12">
      <app-meal-list
        [childMealList]="masterMealList"
        (clickSender)="showDetails($event)"
        (deleteMeal)="delete($event)"
      ></app-meal-list>
    </div>
    <div id="centre" class="col-sm-4 col-xs-12"
    style="
    border-left: solid 1px black;
    border-right: solid 1px black;"
    >
      <app-edit-meal
        [childSelectedMeal]="selectedMeal"
        (doneClickedSender)="finishedEditting()"
      ></app-edit-meal>
    </div>
    <div class="col-sm-4 col-xs-12">
      <app-new-meal
        (newMealSender)="addMeal($event)"
      ></app-new-meal>
    </div>
  </div>
</div>
