<div *ngIf="childSelectedMeal">
  <h4>Change the meal details</h4>
  <p>Enter Meals Name: <input [(ngModel)]="childSelectedMeal.name"></p>
  <p>Fill in Calories:  kcal.<input [(ngModel)]="childSelectedMeal.calories"></p>
  <p>Enter Description: <input [(ngModel)]="childSelectedMeal.description"></p>
  <button
  style=" background-color: white;
    color: black;
    border: 2px solid green;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);"
  (click)="doneClicked()">Save Changes</button>
</div>
