body{
  background-image: url("./assets/mealplanphoto.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  width: auto;
}

.row{
  background-color: #f2f6fc;
  border-radius: 10px;
}
